## methods
importMethodsFrom(methods, initialize, show)
importFrom(methods, "@<-", callNextMethod, new, validObject)

importFrom(utils, packageDescription)

## grid
importFrom(grid, grid.newpage, viewport, pushViewport, upViewport, dataViewport, unit)

## lattice
import(lattice)
##importFrom(lattice, lpolygon, lsegments, xyplot,
##	   simpleKey, panel.grid, panel.xyplot, lrect, ltext,
##	   lpoints, panel.number, current.panel.limits)

## foreach
import(foreach)

## IRanges
import(IRanges)
##importMethodsFrom(IRanges, as.matrix, findOverlaps)

## oligoClasses
import(oligoClasses)
importMethodsFrom(oligoClasses, coerce, findOverlaps)

## Biobase
import(Biobase)

export(plotCytoband, plotIdiogram, xypanel, arrangeSideBySide, centromere)
exportMethods(xyplot, xyplot2)

